OPENAI_API_KEY = "YOUR_KEY"
WANDB_ENTITY = "learneddb"
WANDB_PROJECT = "bespoke-olap-agents"

# Lokales llm
LLM_API_BASE = "http://localhost:13505/v1"
# --model openai/unsloth/MiniMax-M2.5

# Zulip Bot Config
ZULIP_ADDR = "add your Zulip address here"
ZULIP_EMAIL = "email of your Zulip bot here"
ZULIP_API_KEY = "API key of your Zulip bot here"

TO_USER = "email of the user to send notifications to here"
TO_CHNL = "name of the Zulip channel to send notifications to here"
TO_TOPIC = "name of the topic in the Zulip channel to send notifications to here"

GIT_SNAPSHOTTER_SERVER = "git://url.git"

SYNNO_DATA_DIR = "/path/to/synno_data_dir"  # e.g., "/mnt/labstore/synno_data_dir"